---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import Tag from '../../components/Tag.astro'
interface Props {
	project: Project;
    reverse: boolean
}
const { project, reverse = false } = Astro.props;
---

<div class={`flex ${reverse ? 'flex-row-reverse' : 'flex-row'} mb-20 relative flex-wrap`}>
    <div class="w-full md:w-1/2 relative z-10 max-w-[560px] max-h-[315px]"
    data-aos={reverse ? "slide-left" : "slide-right"} data-aos-duration="1000"
    >
      <Image src={project.imageUrl} alt={project.name} title={project.name} />
    </div>
    <div class="w-full md:w-1/2 flex flex-col justify-between relative z-20 bg-steel-blue-800/90 md:bg-transparent p-5 md:p-0">
      <h3 class={`text-xl uppercase tracking-[0.2rem] ${reverse ? 'pr-7' : 'pl-8'} pt-2`} data-aos="fade-down" data-aos-duration="1000">
        {project.name}
      </h3>
      
      <div class={`md:bg-steel-blue-800/90 ${reverse ? 'md:-mr-20' : 'md:-ml-20'}  text-base py-5 md:p-8`} data-aos={reverse ? "slide-right" : "slide-left"} data-aos-duration="1000">
        {project.description}
      </div>
      <div class="flex flex-col mt-2">
        <div class={`flex flex-wrap gap-3 ${reverse ? 'md:justify-start md:pr-8' : 'md:justify-end md:pl-8'}  pb-2`} data-aos="fade-up" data-aos-duration="1000">
          {project.tags && project.tags.map((tag, index) => (
            <Tag textSize='text-sm'>
              {tag}
            </Tag>
          ))}
        </div>
        {(project.repository || project.demoUrl) && (
          <ul class={`flex flex-row flex-wrap ${reverse ? 'md:justify-start md:pr-8' : 'md:justify-end md:pl-8'} mt-2`} data-aos="fade-up" data-aos-duration="1000">
            {project.repository && (
              <li class="first:ml-0 ml-6 mb-1 font-light tracking-[0.2rem] text-sm">
                <a href={project.repository} target="_blank" rel="noreferrer">
                  <Icon name="CodeBracketSquare"  class="w-7 h-7" />
                </a>
              </li>
            )}
            {project.demoUrl && (
              <li class="first:ml-0 ml-6 mb-1 font-light tracking-[0.2rem] text-sm">
                <a href={project.demoUrl} target="_blank" rel="noreferrer">
                   <Icon name="ArrowTopRightOnSquare" class="w-6 h-6" />
                </a>
              </li>
            )}
          </ul> 
        )}
      </div>
    </div>
  </div>