---
import type { Feature } from './Features';
import Card from '../../components/Card.astro';
import { Icon } from 'astro-icon';
interface Props {
	feature: Feature;
}

const { feature } = Astro.props;
---

<div class="w-full md:w-1/2 xl:w-1/4 mb-6 xl:mb-0 px-6" data-aos="flip-up" data-aos-duration="1000">
    <Card className="bg-steel-blue-800/30 px-8 py-12 shadow-md">
        <div class="flex items-center justify-center">
            {feature.icon ? feature.pack ? <Icon pack={feature.pack} name={feature.icon} class="w-7 h-7" /> : <Icon name={feature.icon} class="w-7 h-7" />  : null }
            <h4 class='ml-4 text-xl'>{feature.name}</h4>
        </div>
        <div class="my-2" />
        <div class='text-center'>
            
            <div class="my-2" />
            <p class="text-base">
                {feature.description}
            </p>
        </div>
    </Card>
</div>